@import "vars";
@import "mixins";

* {
  box-sizing: border-box;
}

.wrap {
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lexend", "Noto Sans KR";
  h1 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 50px;
  }
  .btns {
    display: flex;
    margin-top: 50px;
    label {
      margin: 0 10px;
      input {
        display: none;
      }
      input:checked ~ span:after {
        background-color: $main-color;
        border: none;
        content: "\2713";
        color: $white-color;
        @include longShadow(darken($main-color, 20), right, 10);
      }
      span {
        display: flex;
        align-items: center;
        user-select: none;
        &:after {
          content: "";
          @include flexCenter();
          @include box(24px);
          border: 2px solid $gray-color;
          border-radius: 100px;
          margin-left: 6px;
          box-sizing: border-box;
          overflow: hidden;
        }
      }
    }
  }
}
#lottoPaper {
  height: 400px;
  padding: 30px;
  margin: 100px auto;
  border: 10px solid #d9d9d9;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    margin: 5px 0;
    li {
      width: 50px;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      color: #fff;
      border-radius: 100px;
      margin: 0 5px;
      overflow: hidden;
      &.red {
        background-color: #f00;
        @include longShadow(darken(#f00, 10), right, 30);
      }
      &.green {
        background-color: #0f0;
        @include longShadow(darken(#0f0, 10), right, 30);
      }
      &.yellow {
        background-color: #ff0;
        @include longShadow(darken(#ff0, 10), right, 30);
      }
      &.blue {
        background-color: #00f;
        @include longShadow(darken(#00f, 10), right, 30);
      }
      &.black {
        background-color: #000;
        @include longShadow(darken(#000, 10), right, 30);
      }
    }
  }
}
